.fa,
.fa-hand-rock-o,
.fa-hand-paper-o,
.f-hand-scissors-o {
  font-size: 108px;
}

h1 {
  display: flex;
  justify-content: center;
}

#scoreboard {
  display: flex;
  width: min-content;
  margin: auto;
}

.score {
  width: 150px;
  margin: 0px 50px;
  padding: 10px 30px;
  justify-content: center;
  border: 5px solid black;
  justify-items: center;
  text-align: center;
}

#user-score {
  position: relative;
  bottom: 0;
}

.score div {
  display: flex;
  justify-content: center;
}

#choice-title {
  margin: 0px auto;
}
.selection {
  margin: 10px 25px;
  background-color: white;
  border: none;
}

#user-selection {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 500px;
}

#select-options {
  display: flex;
}

#display-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px auto;
  max-width: 600px;
}
.display-title {
  border-bottom: 1.5px;
}

#display-user-selection {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  margin: 30px;
}

#display-comp-selection {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  margin: 30px;
}

#comp-selection {
  display: flex;
}

#start-btn {
  display: flex;
  width: 14%;
  margin: 15px auto;
  font-size: 48px;
}

.hidden {
  display: none !important;
}

/* #results-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 200px;
  text-align: center;
}

#result {
} */

.display {
  display: flex;
  /* width: 150px;
  margin: 0px 50px;
  padding: 10px 30px;
  justify-content: center;
  border: 5px solid black;
  justify-items: center;
  text-align: center; */
}
