h1 {
  display: flex;
  justify-content: center;
}

#scoreboard {
  display: flex;
  width: min-content;
  margin: auto;
}

.fa,
.fa-hand-rock-o,
.fa-hand-paper-o,
.f-hand-scissors-o {
  font-size: 108px;
}

.score {
  width: 150px;
  margin: 0px 50px;
  padding: 10px 30px;
  justify-content: center;
  border: 5px solid black;
  justify-items: center;
  text-align: center;
}

.selection {
  margin: 10px 25px;
  background-color: white;
  border: none;
}

#start-btn {
  display: flex;
  width: 14%;
  margin: 15px auto;
  font-size: 48px;
}

.score div {
  display: flex;
  justify-content: center;
}

#selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 500px;
}

#choice-title {
  margin: 0px auto;
}

#select-options {
  display: flex;
  font-size: 108px;
}

#choice-title {
  justify-content: center;
}

#display-selection {
  display: flex;
}

.display {
  width: 150px;
  margin: 0px 50px;
  padding: 10px 30px;
  justify-content: center;
  border: 5px solid black;
  justify-items: center;
  text-align: center;
}
